body {
    background-attachment: fixed;
    background-size: cover;
    font-size: larger;
    padding-top: 10px;
}
.pin {
    background-color: burlywood;
    padding-top: 20px;
    margin-top: 5px;
}
.kat{
    background-color: ;
    text-shadow: black;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.van {
    background: black;
    padding: 20px;
    margin-top: 10px;
}
